* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

.window {
  background-color: rgb(233, 233, 224);
  padding: 3vh 5vw;
  display: grid;
  gap: 2.5vh;
  grid-template:
    "title title"
    "header header"
    "main aside" /4fr min-content;
}

/* HEADLINE */

header {
  grid-area: title;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  display: inline-block;
}

h1::first-letter {
  font-size: 2.5rem;
}

.details {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  padding: 0.4vh 0;
  border-top: 6px double #333;
  border-bottom: 6px double #333;
}

/* MAIN */
p {
  line-height: 1.1rem;
}

h3 {
  font-size: 1.5rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template: 9vh 1fr / 1fr 1fr;
}

/* SECTION - NEWSPAPER ARTICLES */

main h2 {
  grid-area: 1 / span 3;
  justify-self: center;
  font-size: 2.2rem;
}

main section {
  grid-area: 2/1/3/2;
  display: grid;
  gap: 5vh 1.5vw;
  grid-template: 1.5fr 3fr 4.5fr/ 1fr 1fr;
}

/* IMAGE */

main figure {
  grid-area: 2/2/3/3;
  padding-left: 1vw;
}

main figure img {
  width: 100%;
}

main figure figcaption {
  font-style: italic;
}

/* SIDEBAR - ADVERTISEMENTS */
aside {
  grid-area: aside;
  display: grid;
  gap: 2.5vh;
  grid-template: 3vh auto / auto;
}

aside h4 {
  text-align: center;
  font-size: 1.2rem;
}

aside > *:not(h4) {
  border: 4px double #333;
  text-align: center;
}

aside .add-ad h5 {
  margin-top: 2vh;
  font-size: 3rem;
}

aside .knife-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8vh 1.5vw;
}

aside .knife-ad p {
  width: 13vw;
}

aside .knife-ad a {
  font-size: 1.2rem;
  color: #737b80;
  text-underline-offset: 4px;
}

aside img {
  width: 100%;
  padding: 2.5vh;
  filter: grayscale(100%);
}

@media only screen and (max-width: 1000px) {
  .window {
    grid-template:
      "title title"
      "header header"
      "main main"
      "aside aside"/ 4fr;
  }

  main section {
    gap: 1.5vh 1.5vw;
    grid-template: none;
  }

  aside {
    grid-template: 3vh auto / repeat(3, 1fr);
  }

  aside h4 {
    grid-area: 1 / span 3;
  }

  aside .add-ad h5 {
    margin: 5vh 2vw;
  }

  aside .knife-ad p {
    width: 20vw;
  }
}
